@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@200;300;400;500&display=swap');

.global-padding-x {
  padding-left: 2rem;
  padding-right: 2rem;
}

.gb-red {
  background-color: blue;
}

::-webkit-scrollbar {
  width: 3px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #545050;
  border-radius: 10px;
}

/* adjust the animation timing and distance as needed */

@font-face {
  font-family: 'khmer-font';
  src: local('khmer-font'),
    url(../assets/fonts/KantumruyPro-Regular.ttf) format('truetype');
}

.khmer-font {
  font-family: khmer-font, sans-serif;
  font-size: 20px;
}

.customRbg {
  background-color: rgba(139, 139, 140, 0.65);
}

.card {
  position: relative;
  /* add any other necessary styles */
  transition: all 0.5s ease;
}

.card:hover::after {
  border-radius: 1rem;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  transition: all 0.5s ease;
  transition-delay: 0.5s;
}

.opacityColor {
  background-color: rgba(0, 0, 0, 0.5);
}

.card:hover::after {
  opacity: 1;
}

.slightlyBalck {
  background-origin: content-box;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
  );
}
